<?xml version='1.0' encoding='utf-8'?>
<?xml version='1.0' encoding='utf-8'?>
<widget id="com.awagames.remember" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Remember</name>
    <description>
        A simple app to help you remember the little things.
    </description>
    <author email="ben.alderfer@gmail.com" href="benalderfer.com">
        Ben Alderfer
    </author>
    <content src="index.html" />
    <access origin="*" />
    <preference name="orientation" value="portrait" />
    <preference name="DisallowOverscroll" value="true" />
    <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
    <preference name="KeyboardShrinksView" value="true" />

    <feature name="Keyboard">
        <param name="ios-package" value="IonicKeyboard" onload="true" />
    </feature>
</widget>
